/* 默认隐藏 */
chimee-progressbar-tip,
chimee-screen-full,
chimee-clarity-list,
chimee-screen-small{
  display: none;
}

chimee-control.full chimee-screen-full,
chimee-control.small chimee-screen-small{
  display: inline-block;
  width: 2em;
  height: 100%;
}

chimee-control{
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  user-select: none;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  overflow: hidden;
  transition: visibility .5s ease;
}

chimee-control-wrap{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3.2em;
  display: table;
  background: rgba(0, 0, 0, .5);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  transition: bottom .6s ease;
  pointer-events: auto;
  padding-top: 1em;
}

.chimee-component{
  display: table-cell;
  height: 3.2em;
  padding: 1.1em;
  box-sizing: border-box;
  vertical-align: top;
  cursor: pointer;
  width: 1%;
  line-height: 1em;
  white-space: nowrap;
}

/*播放器状态， 播放／暂停*/
chimee-control-state.chimee-component{
  padding-left: 2.4em;
  padding-right: 2.4em;
}
chimee-control-state .left,
chimee-control-state .right{
  transition: all .2s ease-in-out;
}
chimee-control-state svg{
  width: 2em;
  height: 1.4em;
}

/*播放器控制条*/
chimee-progressbar.chimee-component{
  position: relative;
  width: auto;
  padding: 0 .4em 0 1em;
}
chimee-progressbar-wrap{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}


chimee-progressbar-all,
chimee-progressbar-buffer,
chimee-progressbar-bg{
  position: absolute;
  top: .9em;
  left: 0;
  display: inline-block;
  height: 3px;
}
chimee-progressbar-bg{
  width: 100%;
  background: #D8D8D8;
  opacity: .2;
}
chimee-progressbar-buffer{
  width: 0;
  background: #B4B3B3;
}
chimee-progressbar-all{
	background: #57B0F6;
}
chimee-progressbar-all:after{
	content: '';
	position: absolute;
	right: -2em;
	top: -.9em;
	display: inline-block;
	width: 2em;
	height: 2em;
	border-radius: 1em;
	background: #fff;
}
chimee-progressbar-tip{
	position: absolute;
	bottom: .5em;
  top: -1.5em;
	left: 0;
	z-index: 10;
  padding: 0 .5em;
	height: 1.5em;
  background: #fff;
  line-height: 1.5em;
  border-radius: 4px;
  color: #000;
  text-align: center;
}

/*时间显示*/
chimee-progresstime.chimee-component{
  color: #fff;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  padding: 0;
  line-height: 3.2em;
  vertical-align: bottom;
  font-size: 16px;
}

chimee-progresstime-pass,
chimee-progresstime-total{
  display: inline;
}

/*音量控制*/

chimee-volume.chimee-component{
  cursor: pointer;
  white-space: nowrap;
  padding-right: 2em;
}

chimee-volume-state{
  display: inline-block;
  height: 100%;
  width: 2em;
  margin-right: 1em;
}
chimee-volume-state svg{
  width: 2em;
  height: 1.4em;
}

chimee-volume .ring1,
chimee-volume .ring2,
chimee-volume .line{
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  transition: stroke-dashoffset .7s ease-in-out;
}

chimee-volume.mute .line,
chimee-volume.mute .ring1,
chimee-volume.mute .ring2{
  stroke-dashoffset: 0;
}

chimee-volume.high .ring1,
chimee-volume.high .ring2{
  stroke-dashoffset: 0;
}

chimee-volume.low .ring2{
  stroke-dashoffset: 0;
}

chimee-volume-bar{
  position: relative;
  display: inline-block;
  width: 4em;
  height: 100%;
  margin-right: 1em;
}

chimee-volume-bar-all,
chimee-volume-bar-bg{
  position: absolute;
  top: .8em;
  left: 0;
  display: inline-block;
  height: 2px;
}
chimee-volume-bar-bg{
  width: 100%;
  background: #D8D8D8;
  opacity: .5;
}
chimee-volume-bar-all{
	background: #57B0F6;
}
chimee-volume-bar-all:after{
	content: '';
	position: absolute;
	right: -.5em;
	top: -.4em;
	display: inline-block;
	width: .8em;
	height: .8em;
	border-radius: .8em;
	background: #fff;
}

/*全屏*/
chimee-screen.chimee-component{
  padding-right: 2em;
  padding-left: 2em;
}
chimee-screen-small{
  background: url(./image/enlarge.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

chimee-screen-full{
  background: url(./image/shrink.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}


/* 清晰度切换 */
chimee-clarity.chimee-component{
  position: relative;
  color: #fff;
  padding: 0;
  padding-right: 1em;
  line-height: 3.2em;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

chimee-clarity-list{
  position: absolute;
  left: -3em;
  line-height: 2em;
  width: 8em;
  padding-bottom: 2em;
  opacity: .8;
  box-sizing: content-box;
}

chimee-clarity-list ul{
  margin: 0;
  padding: 1em 0;
  background: #292929;
}
chimee-clarity-list li{
  list-style-type: none;
}

chimee-clarity-list li:hover,
chimee-clarity-list li.active{
  color: #57B0F6;
}